<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkerboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>
<body>
    <table >
        {% for i in range(a): %}
            <tr>
                {% for j in range(b): %}
                    {% if (i+j)%2 == 1: %}
                        <td class="square1" style="background-color: {{color1}};"></td>
                    {% else: %}
                        <td class="square2" style="background-color: {{color2}};"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>



    <script src="{{url_for('static',filename='myscript.js')}}"></script>
</body>
</html>











    <!-- <div class="checkerboard">
        {% for i in range(0, a): %}
            {% for i in range(0, b): %}
                {% if i%2 == 1: %}
                    <div class = "box1" ></div>
            {% else: %}
                    <div class = "box2" ></div>
                {% endif %}
            {% endfor %}
        {% endfor %} 
    </div> -->
